<%= form_for(@slide) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="slide-container" style="margin-left: 150px;">
     <%= image_tag URI.encode(@slide.image.url(:small)), :alt => @slide.image_file_name %>
  </div>
  <br/>
  <div style="margin-left: -100px;">
      <div class="field" >
        <%= f.label :name %>
        <%= f.text_field :name, :class=>"text_input_field" %>
      </div>
      <div class="field">
        <%= f.label "Index:" %>
        <%= f.text_field :position, :class=>"number_input_field", :style=>"width: 40px;" %>
      </div>
  </div>
  <%= link_to 'Back', @slide.presentation, :class=>"link_button" %>
  <%= f.submit "Update", :class=>"input_button" %>
  	<%= link_to "Delete", @slide, :confirm => 'Are you sure?', :method => :delete, :class=>"link_button" %>

<% end %>
