<p id="notice"><%= notice %></p>

<p>
  <b>Presentation:</b>
  <%= @slide.presentation_id %>
</p>

<p>
  <b>Image:</b>
  <%= @slide.image_id %>
</p>


<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
