<p><b>Account Name:</b> <%= @qform.customer %></p>
<p><b>Opportunity:</b> <%= @qform.purpose %></p>
<p><b>Platform(s):</b> <%= @qform.platform %></p>
<p><b>Host Count:</b> <%= @qform.opportunity %></p>
<p><b>Environment(s):</b> <%= @qform.audience %></p>
<p><b>Technologies:</b> <%= @qform.technologies %></p>
<p><b>Description:</b> <%= @qform.description %></p>

<p><%= link_to "Link to form", qform_url(@qform) %></p>