<p><b>Account Name:</b> <%= @qform.account %></p>
<p><b>Opportunity:</b> <%= @qform.opportunity %></p>
<p><b>Platform(s):</b> <%= @qform.platforms %></p>
<p><b>Host Count:</b> <%= @qform.hosts %></p>
<p><b>Environment(s):</b> <%= @qform.environments %></p>
<p><b>Technologies:</b> <%= @qform.technologies %></p>
<p><b>Description:</b> <%= @qform.description %></p>

<p><%= link_to "Link to form", qform_url(@qform) %></p>