<p><b>Customer:</b> <%= @qform.customer %></p>
<p><b>Purpose:</b> <%= @qform.purpose %></p>
<p><b>Platform:</b> <%= @qform.platform %></p>
<p><b>Opportunity:</b> <%= @qform.opportunity %></p>
<p><b>Audience:</b> <%= @qform.audience %></p>
<p><b>Technologies:</b> <%= @qform.technologies %></p>
<p><b>Description:</b> <%= @qform.description %></p>

<p><%= link_to "Link to form", qform_url(@qform) %></p>