<%= javascript_include_tag "jquery.editinplace.js" %>

<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
	$(".editable_text").editInPlace({
		callback: function(unused, enteredText) { return enteredText; },
		// url: './server.php',
		show_buttons: false
	});
});

</script>

<%= form_for(@presentation) do |f| %>
  <% if @presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% @presentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"text_input_field"  %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class=>"text_input_field"  %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
  <div id="slides">
  	<ul id="slide_list" class="slides noscript">
          <%= render :partial => 'slides/edit', :collection=>@presentation.slides, :as => :slide %>
  	</ul>
  	<div style="clear:both;"></div>
  </div>
  <br/><br/>
  
  <%= f.submit "Submit", :class=>"input_button" %>
  <%= link_to 'Back', presentations_path, :class=>"link_button" %>
<% end %>
