<%= javascript_include_tag 'jquery.presentation-full.js' %>
<%= stylesheet_link_tag 'presentation-full.css' %>

<div id="header">
    <div class="container">
        <h1><%=@presentation.title%></h1>
    </div>
</div>

<div id="content">
    <div id="slides">         
        <% for slide in @presentation.slides %>
            <div class="slide">
                <p>Slide <%= slide.name %></p>
                <%= image_tag URI.encode(slide.image.url(:large)), :alt => slide.image_file_name %>
            </div>
        <% end %>
    </div>
</div>
