<h1>  <%= @presentation.title %> </h1>

<p>
  <b>Description:</b>
  <%= @presentation.description %>
</p>
<br/>

<%= link_to 'Back', presentations_path, :class=>"link_button" %>
<%= link_to 'Edit', edit_presentation_path(@presentation), :class=>"link_button" %>
<%= link_to 'Upload Slides', upload_path(:id=>@presentation.id), :class=>"link_button "%>
<%= link_to 'Play', play_path(:id=>@presentation.id), :class=>"link_button "%>
<%= link_to 'Delete', @presentation, :class=>"link_button", :confirm => 'Are you sure?', :method => :delete %>
<br/><br/>

<div id="slides">
	<ul id="slide_list" class="slides noscript">
        <%= render :partial => 'slides/show', :collection=>@presentation.slides, :as => :slide %>
	</ul>
	<div style="clear:both;"></div>
</div>
