<%= form_for(@qform) do |f| %>
  <% if @qform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qform.errors.count, "error") %> prohibited this qform from being saved:</h2>

      <ul>
      <% @qform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Customer Name:" %>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label "Meeting Purpose:" %>
    <%= f.text_field :purpose %>
    <%= f.label "Record?" %>
    <%= check_box_tag 'record', 'yes', @qform.recording %>
  </div>
  
  <div class="field">
    <div class="form_row">
        <label for="platform_names[]">Platform(s):</label>
        <% for platform in Platform.find(:all) do %>
          <%= check_box_tag 'platform_names[]', platform.name, platform_included?(platform.name,@qform.platform) %>
          <%= platform.name %>
        <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :technologies %><br />
    <%= f.text_field :technologies %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :audience %><br />
    <%= f.text_field :audience %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
