<h1>Opportunity Details</h1>
<div id="qform">
<%= form_for(@qform) do |f| %>
  <% if @qform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qform.errors.count, "error") %> prohibited this qform from being saved:</h2>

      <ul>
      <% @qform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field">
          <label>ACCOUNT NAME:</label>
          <div>
              <%= f.text_field :account, :class=>"text_input_field" %>
          </div>
      </div>
      <div class="field">
          <label>OPPORTUNITY:</label>
          <div>
          <%= f.text_field :opportunity, :class=>"text_input_field" %>
          </div>
      </div>
      <div class="field">
          <label>DESCRIPTION:</label>
          <%= f.text_area :description %>
      </div>
      <div class="field">
          <div class="form_row">
              <label for="platform_names[]">PLATFORM(S):</label>
              <% for attr in Field.where(:name=>'platform') do %>
              <%= check_box_tag 'platform_names[]', attr.value, name_in_array?(attr.value,@qform.platforms) %>
              <%= attr.value %>
              <% end %>
          </div>
      </div>
      <div class="field">
          <div class="form_row">
              <label for="environment_names[]">ENVIRONMENTS:</label>
              <% for attr in Field.where(:name=>'environment') do %>
              <%= check_box_tag 'environment_names[]', attr.value, name_in_array?(attr.value,@qform.environments) %>
              <%= attr.value %>
              <% end %>
          </div>
      </div>
      <div class="field">
          <div class="form_row">
              <label for="host_names[]">HOST COUNT: </label>
              <% for attr in Field.where(:name=>'host') do %>
              <%= check_box_tag 'host_names[]', attr.value, name_in_array?(attr.value,@qform.hosts) %>
              <%= attr.value %>
              <% end %>
          </div>
      </div>
      <div class="field">
          <div class="form_row">
              <label for="technology_names[]">TECHNOLOGIES: </label>
              (JAVA)<% for attr in Field.where(:name=>'java') do %>
              <%= check_box_tag 'technology_names[]', attr.value, name_in_array?(attr.value,@qform.technologies) %>
              <%= attr.value %>
              <% end %>
              <br/><br/>
              <label> </label>
              (PHP)<% for attr in Field.where(:name=>'PHP') do %>
              <%= check_box_tag 'technology_names[]', attr.value, name_in_array?(attr.value,@qform.technologies) %>
              <%= attr.value %>
              <% end %>
              <br/><br/>
              <label> </label>
              (RAILS)<% for attr in Field.where(:name=>'Rails') do %>
              <%= check_box_tag 'technology_names[]', attr.value, name_in_array?(attr.value,@qform.technologies) %>
              <%= attr.value %>
              <% end %>
              <br/><br/>
              <label> </label>
              (.NET)<% for attr in Field.where(:name=>'.NET') do %>
              <%= check_box_tag 'technology_names[]', attr.value, name_in_array?(attr.value,@qform.technologies) %>
              <%= attr.value %>
              <% end %>
              <br/><br/>
              <label> </label>
              Others: <%= f.text_field :othertechnology, :class=>"text_input_field" %>
          </div>
          
      </div>
      <br/><br/>
          <%= f.submit "Save", :class=>"input_button" %>
      <%= link_to 'Cancel', qforms_path, :class=>"link_button"  %>
<% end %>
</div>
