<h1>Demo Qualification Form</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Purpose</th>
    <th>Date Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qforms.each do |qform| %>
  <tr>
    <td><%= link_to qform.customer, qform %></td>
    <td><%= qform.purpose %></td>
    <td><%= qform.created_at %></td>
    <td><%= link_to 'Destroy', qform, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form', new_qform_path %>
