<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @qform.customer %>
</p>

<p>
  <b>Purpose:</b>
  <%= @qform.purpose %>
</p>

<p>
  <b>Platform:</b>
  <%= @qform.platform %>
</p>

<p>
  <b>Audience:</b>
  <%= @qform.audience %>
</p>

<p>
  <b>Opportunity Size:</b>
  <%= @qform.opportunity %>
</p>

<p>
  <b>Technologies:</b>
  <%= @qform.technologies %>
</p>

<p>
  <b>Recording:</b>
  <%= @qform.recording %>
</p>

<p>
  <b>Description:</b>
  <%= @qform.description %>
</p>


<%= link_to 'Edit', edit_qform_path(@qform) %> |
<%= link_to 'Back', qforms_path %>
