<h1><%= @qform.customer %></h1>

<table id="show_table">
  <tr>
    <td id="show_col1"><label>Purpose:</label></td>
    <td id="show_col2"><%= @qform.purpose %></td>
  </tr>
  <tr>
    <td><label>Platform:</label></td>
    <td><%= @qform.platform %></td>
  </tr>
  <tr>
    <td><label>Audience:</label></td>
    <td><%= @qform.audience %></td>
  </tr>
  <tr>
    <td><label>Opportunity Size:</label></td>
    <td><%= @qform.opportunity %></td>
  </tr>
  <tr>
    <td><label>Technologies:</label></td>
    <td><%= @qform.technologies %></td>
  </tr>
  <tr>
    <td><label>Recording:</label></td>
    <td><%= @qform.recording %></td>
  </tr>
  <tr>
    <td><label>Description:</label></td>
    <td><%= @qform.description %></td>
  </tr>
</table>

<br/>
<%= link_to 'Ok', qforms_path, :class=>"link_button"  %>

<div class="action_buttons"> 
    <%= link_to 'Send Email', send_mail_url(:id => @qform.id), :class=>"link_button"  %> 
    <%= link_to 'Edit', edit_qform_path(@qform), :class=>"link_button"  %> 
    <%= link_to 'Delete', @qform, :confirm => 'Are you sure?', :method => :delete, :class=>"link_button" %>
</div>
