<h1><%= @qform.customer %></h1>

<table id="show_table">
  <tr>
    <td id="show_col1"><label>OPPORTUNITY:</label></td>
    <td id="show_col2"><%= @qform.purpose %></td>
  </tr>
  <tr>
    <td><label>PLATFORM(S):</label></td>
    <td><%= @qform.platform %></td>
  </tr>
  <tr>
    <td><label>ENVIRONMENT(S):</label></td>
    <td><%= @qform.audience %></td>
  </tr>
  <tr>
    <td><label>HOST COUNT:</label></td>
    <td><%= @qform.opportunity %></td>
  </tr>
  <tr>
    <td><label>TECHNOLOGIES:</label></td>
    <td><%= @qform.technologies %></td>
  </tr>
  <tr>
    <td><label>DESCRIPTION:</label></td>
    <td><%= @qform.description %></td>
  </tr>
</table>

<br/>
<%= link_to 'Ok', qforms_path, :class=>"link_button"  %>
<%= link_to 'Send Email', send_mail_url(:id => @qform.id), :class=>"link_button"  %> 
<%= link_to 'Edit', edit_qform_path(@qform), :class=>"link_button"  %> 
<%= link_to 'Delete', @qform, :confirm => 'Are you sure?', :method => :delete, :class=>"link_button" %>
