<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %>
  <%= f.text_field :email, :class=>"text_input_field" %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password, :class=>"text_input_field" %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <%= f.submit "Sign in", :class=>"input_button" %>
  <%= render :partial => "devise/shared/links" %>
<% end %>

