<!DOCTYPE html>
<html>
<head>
  <title>Pappy</title>
  <%= stylesheet_link_tag 'scaffold.css' %>
  <%= stylesheet_link_tag 'pappystyle.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

    <header>
      <nav class="round">
        <ul>
          <% if user_signed_in? %>
             <li><%= link_to "Home", '/' %></li>
             <li><%= link_to "Sign out", '/users/sign_out' %></li>
          <% end %>
        </ul>
      </nav>
    </header>

<div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>
</div>

</body>
</html>
